<div class="modal-confirm">
    <div class="modal-header">
        <h5 class="modal-title text-white" id="modal-title"><i class="fas fa-trash me-1"></i> {{ title }}</h5>
        <a href="#" aria-label="Close button" data-bs-dismiss="modal" aria-describedby="modal-title"
            (click)="activeModal.dismiss(false)">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="modal-body">
        <p><strong>{{ prompt }}</strong></p>
        <p>
            {{ information }}
            <span class="text-danger">{{ informationDanger }}</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss(false)">
            <span class="d-flex align-items-center">
                <i class="fas fa-times-circle me-2"></i>
                Annuler
            </span>
            <div class="back"></div>
        </button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="activeModal.close(true)">
            <span class="d-flex align-items-center">
                <i class="fas fa-check-circle me-2"></i>
                Ok
            </span>
            <div class="back"></div>
        </button>
    </div>
</div>