.document-left-list {
    cursor: pointer;
    & .document-list {
        display: block;
        & .icon {
            font-size: 45px;
            padding: 50px;
            width: 100%;
            height: 100%;
        }
    }
    
    & .document-list .text {
        height: 60px;
        font-size:14px;
    }
    
}